<<<<<<< HEAD

=======
>>>>>>> gulp-sprite
{{#shapes}}
{{#first}}
   .icon{
	background-image: url('/assets/images/sprite/{{{sprite}}}');
}
{{/first}}

.icon--{{base}} {
	width: {{width.outer}}px;
	height: {{height.outer}}px;
<<<<<<< HEAD
	background-image: url('/temp/sprite/css/{{{sprite}}}');
=======
>>>>>>> gulp-sprite
	background-position: {{position.relative.xy}};

} 

{{/shapes}}
